<section class="hero">
    <img class="hero_background" src="/images/lightbulb.jpg"/>
    <div class="hero_container">
        <h1 class="hero_heading">Jeremy J Moss</h1>
        <p class="hero_text">Full Stack Web Developer</p>
        <p class="hero_subtext">Transforming vision into digital reality with a blend of creativity and technical expertise,<br/> delivering immersive web solutions that exceed expectations.</p>
    </div>
</section>