<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script>
        var totalStyles = 2; // Total number of CSS files
        var loadedStyles = 0;
        
        function cssLoaded() {
            loadedStyles++;
            if (loadedStyles === totalStyles) {
                document.body.style.display = 'block';
            }
        }
    </script>
    <link rel="stylesheet" href="/css/main.css" onload="cssLoaded()">
    <link rel="stylesheet" href="/css/home.css" onload="cssLoaded()">
    <title>Jeremy Moss Profile - Home</title>
</head>
<body>
    <%- include('partials/header'); %>
    <main>
        <%- include('sections/hero') %>
    </main>
</body>
</html>