@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200..900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
}

body {
    background-color: rgb(15, 24, 39);
    display: none;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 2rem 3rem;
    color: #eee;
    align-items: center;
    position: fixed;
    width: 100%;
    z-index: 1;
    background-color: rgb(15, 24, 39, 0.2);
}

.header-logo {
    display: flex;
    align-items: center;
}

.header-logo_img {
    width: 3.5rem;
    border-radius: 50%;
}

.header-logo_text {
    margin-left: 1.25rem;
    font-weight: 300;
    font-size: 1.25rem;
}

header nav {
    padding-inline: 2rem;
}

header nav ul {
    display: flex;
    list-style: none;
    gap: 3rem;
    font-size: 1.25rem;
    font-weight: 500;
}

header nav ul li.active {
    color: rgb(14, 136, 236);
}

header nav ul li a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
    position: relative;
    padding-inline: 10px;
}

header nav ul li a:after {
    content: "";
    width: 0;
    height: 2px;
    background-color: #eee;
    position: absolute;
    bottom: -5px;
    left: 5px;
}

header nav ul li.active a:after {
    background-color: rgb(14, 136, 236);
}

header nav ul li a:hover:after {
    width: calc(100% - 10px);
    transition: all 0.2s ease-in-out;
} 